services:
  postgres:
    container_name: postgres
    image: postgres:latest
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: university_db
    ports:
      - 5432:5432
    volumes:
      - ./db/postgres/init:/docker-entrypoint-initdb.d
      - postgres_data:/var/lib/postgresql

volumes:
  postgres_data: