services:
  postgres:
    container_name: postgres
    image: postgres:latest
    env_file: .env
    ports:
      - "${POSTGRES_PORT:-5432}:${POSTGRES_PORT:-5432}"
    volumes:
      - ./db/postgres/init:/docker-entrypoint-initdb.d
      - postgres_data:/var/lib/postgresql

volumes:
  postgres_data: